# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.env.*
.venv/
venv/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
yarn.lock
npm-debug.log*

# Docker
*.pid

# Database
*.sqlite3
*.db

# Logs
*.log
logs/

# Frontend build
/build/
/dist/

# Misc
*.bak
*.swp
*.tmp

# Ignore secrets
backend/.env
backend/.env.

# Exclude problematic long path file (Windows limitation)
dashboard/wazuh-dashboard-main/src/plugins/data_source_management/public/components/direct_query_data_sources_components/acceleration_creation/visual_editors/__snapshots__/query_visual_editor.test.tsx.snap
